@import 'tailwindcss';




.dot-single {
  width: 32px;   
  height: 32px;  
  border-radius: 50%;
  transform: scale(1);
 
  animation: scale-pulse 1.5s infinite ease-in-out; 
}

@keyframes scale-pulse {
  0%, 100% {
    transform: scale(0.8);
    opacity: 1; 
  }
  50% {
    transform: scale(1.4);
    opacity: 0.3; 
  }
}